/* ************************************************************************************************
		PAGE REPORT BROKEN LINK
************************************************************************************************ */
#conf {
	clear:both;
	text-align:left;
	color:green;
	display:none;
	}

#report_link_button {
	margin-top: 5px;
	padding: 0rem 1.25rem;
	outline: none;
}

.modal-header .close {
    margin-top: -25px;
}